* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.container {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;

}
.header {

}
.nav-items {
display: inline-block;
position: relative;

padding-left: 120px;
 text-align: center;
padding-top: 60px;
list-style: none;


}
.nav-link {
    color: #818181;
    text-decoration: none;
    font-size: 13px;
}
.nav-link:hover {
    color: #03a9f3;
}
.img-div {
    width: 420px;
    height: 480px;
   
}
.div-wrapper {
    display: flex;
    flex-direction: column;
    
    align-items: center;
}
.blockone {
    display: flex;
    padding-top: 100px;
}
.dd {
padding-left: 30px;
}
.image {
    width: 420px;
    height: 280px;
}
.bb {
    padding-right: 30px;
}
.life {
    padding-top: 30px;
    color: #818181;
    
}
.two {
    padding-left: 30px;
}

h2 {
padding-top: 35px;
color: #818181;
}
.text {
    padding-top: 40px;
    color: gray;
}
.butt {
    height: 75px;
    width: 165px;
    font-size: 18px;
    color: #818181;
}
.on {
    padding-top: 110px;
    display: flex;
    justify-content: center;
    height: 255px;
}
